.banner-container .banner-imgs {
    overflow: hidden;
}

.banner-container .banner-imgs img {
    -webkit-user-drag: inherit;
    display: block;
}

.banner-container .banner-imgs a {
    float: left;
}

.banner-container .banner-dots {
    position: absolute;
    background: rgba(255, 255, 255, .3);
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 12px;
    padding: 2px 4px;
    border-radius: 8px;
}

.banner-container .banner-dots span {
    float: left;
    width: 8px;
    height: 8px;
    margin: 2px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
}

.banner-container .banner-dots span.active {
    background: #f40;
}

.banner-container .banner-arrow {
    opacity: 0;
    transition: opacity .3s;
}

.banner-container:hover .banner-arrow {
    opacity: 1;
}



.banner-container .banner-arrow .item {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, .3);
    color: #fff;
    width: 20px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
}

.banner-container .banner-arrow .item:hover {
    background: rgba(0, 0, 0, .5);
}

.banner-container .banner-arrow .left {
    left: 0;
    border-radius: 0 17px 17px 0;
}

.banner-container .banner-arrow .right {
    right: 0;
    border-radius: 17px 0 0 17px;
    padding-left: 7px;
    box-sizing: border-box;
}